@model SteadyLog.Models.LogViewModels.LogSaveViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LogViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Id" />*@
            @*<div class="form-group">
        <label asp-for="ActivityId" class="control-label"></label>
        <input asp-for="ActivityId" class="form-control" />
        <span asp-validation-for="ActivityId" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <label asp-for="ActivityId" class="control-label"></label>
                <select class="form-control" asp-for="ActivityId" asp-items="Model.Activities">
                    <option disabled selected value="">--- 項目を選択 ---</option>
                </select>
                <span asp-validation-for="ActivityId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
